<% content_for :content_splash do %>
  <p class="tagline">Global Names bibliographic citation tools and services.</p>
<% end %>

<p>This collection of experimental tools and services may help you parse and discover relevant bibliographic materials. We strive to expose these tools in simple and extensible APIs and <%= link_to "jQuery plugins", plugins_path %>.</p>

<div id="chrome" class="clear">
<div id="chrome-icon"><a href="/bibliospotter.crx"><img src="<%= asset_path 'icon-48.png' %>" alt="BiblioSpotter Chrome Extension" /></div>
<div id="chrome-description"><span><a href="/bibliospotter.crx">Google Chrome BiblioSpotter Extension</a></span><span>Searches for selected citations from a right-click menu</span></div>
</div>

<p><a href="https://github.com/GlobalNamesArchitecture/biblio">Code</a> on GitHub</p>
