<h1>Bibliographic Citation Discovery Service jQuery Plugin</h1>

<h2>Example - Pre-compiled List</h2>
<% @references.each do |reference| %>
<p class="biblio-item"><%= reference %></p>
<% end %>

<h2>Example - User Input</h2>
<%= form_tag("/citations", :method => "POST") do %>
  <%= text_field_tag :citations, nil, :placeholder => "Paste citation here and press enter...", :class => 'biblio-input' %>
<% end %>

<h2>Configuration</h2>
<xmp>
<script type="text/javascript" src="jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="jquery.refparser.js"></script>
<script type="text/javascript">
$(function(){

  // Configure some options
  var options = {
     // URL path to the icons directory & icons themselves
     iconPath  : '/icons/',
     iconClass : 'refparser-icon',
     icons     : {
       search   : {
         title : "Search",
         icon  : 'magnifier.png'
       },
       loader   : {
         title : "Loooking for reference...",
         icon  : "ajax-loader.gif"
       },
       error    : {
         title : "Unsuccessful parse",
         icon  : "error.png"
       },
       timeout  : {
         title : "Timeout",
         icon  : "clock_red.png"
       },
       pdf      : {
         title : "PDF",
         icon  : "page_white_acrobat.png"
       },
       html     : {
         title : "HTML",
         icon  : "world_go.png"
       },
       doi      : {
         title : "To publisher...",
         icon  : "world_go.png"
       },
       hdl      : {
         title : "To repository...",
         icon  : "world_go.png"
       },
       scholar  : {
         title : "Search Google Scholar...",
         icon  : "g_scholar.png"
       },
       bhl      : {
         title : "Biodiversity Heritage Library...",
         icon  : "page_white_go.png"
       }
     },

     // JSONP-based web service parser
     parserUrl   : '/citations/',

     // set the target for the final click event (if there is one)
     target      : '',

     // select which sources to query
     sources     : ["crossref", "bhl", "biostor"],

     //set a timeout in milliseconds (should be at least 4000)
     timeout     : 5000,

     onSuccessfulParse : function(data, obj){
       /* 'data' is a CITEPROC JS object for parsed reference, 'obj' is the jQuery object */
     },
     onFailedParse     : function(obj){
       /* 'obj' is the jQuery object */
     },
     onError           : function(){}
 };

 $(".biblio-entry").refParser(options);

// AND/OR

 $(".biblio-input").refParser(options);

});
</script>

<p class="biblio-entry">My reference here that may include HTML.</p>
<!-- AND/OR -->
<input class="biblio-input"></input>
</xmp>

<h2>Download</h2>
<p>jQuery plug-in: <%= link_to 'jquery.refparser.js', @root_url.to_s << '/assets/jquery.refparser.js' %></p>