/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

h2{
  background-color: #E5ECF9;
  border-bottom: medium none;
  border-top: 1px solid #3366CC;
  font-size: 1.3em;
  margin: 1em 1em 0.5em 0;
  padding: 0.1em;
}
.intro{
  border:1px solid #3366CC;
  border-radius:6px;
  background-color:#E5ECF9;
  padding:1em;
  width:62%;
}

dt{font-weight:bold;margin-top:1em;}
dd{margin-left:1em;}