// Place all the styles related to the examples controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input#citations{width:50%;height:1.5em;padding:5px;border:1px solid #CCC;border-radius:3px;}
.biblio-item{margin: 0.5em 0 0 2em;text-indent: -2em;line-height:1.5em;}
.refparser-icon{vertical-align:middle;margin-left:3px;}
