// Place all the styles related to the plugins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#panel-wrapper{
  margin:0px auto;
  width:100%;
}
#panel-wrapper h3{
  text-align:center;
}
#panel-wrapper h3 a{
  color:#45704D;
}
.panel{
  float:left;
  border-radius:20px;
  border:1px solid #ccc;
  background-color:#fafafa;
  width:40%;
  height:200px;
  margin:1.5em;
  padding:1em;
}