.biblio-selector{
  background-color:#FFF;
  line-height: 1.8em;
  font-family: Droid Serif, Georgia, serif;
  width:75%;
}

/* grabtag css */

/* buttons */
#grabtag-initializer .grabtag-selectors-buttons{margin-bottom:1em;}
#grabtag-initializer button{
  cursor:pointer;
  border:0px solid #0F1215;
  color:#FFF;
  font-size: 1em;
  font-weight: bold;
  margin:0.2em 0.5em 0 0;
  min-height: 1em;
  padding:0.25em 0.5em;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  background: #969696;
  background: -moz-linear-gradient(center bottom , #969696 4%, #afafaf 58%, #c8c8c8 98%) repeat scroll 0 0 transparent;
  background-image:-webkit-gradient(linear, 0 100%, 0 0%, color-stop(0.04, #969696), color-stop(0.58, #afafaf), color-stop(0.98, #c8c8c8));
}
#grabtag-initializer button:hover{
  box-shadow:0 1px 2px 1px rgba(125, 125, 125, 0.9);
}
#grabtag-initializer button.selected{
  background: #5aa52b;
  background: -moz-linear-gradient(center bottom , #1B7004 4%, #5AA52B 58%, #90CF4C 98%) repeat scroll 0 0 transparent;
  background-image:-webkit-gradient(linear, 0 100%, 0 0%, color-stop(0.04, #1B7004), color-stop(0.58, #5AA52B), color-stop(0.98, #90CF4C));
}
#grabtag-initializer button.selected:hover{
  box-shadow:0 1px 2px 1px rgba(125, 125, 125, 0.9);
}

/* grabtag biblio citation type */
#grabtag-initializer .grabtag-selectors-type{display:none;margin:0.5em 0;}

/* grabtag biblio selectors and tags */
.grabtag-selector{
  font-family: Droid Serif, Georgia, serif;
  margin-right:0.5em;
  padding:0.15em 0.35em;
  cursor:pointer;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.75);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
  box-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1) inset;
  display:inline;
}
.grabtag-selector.selected{
  box-shadow:0 1px 2px 1px rgba(125, 125, 125, 0.9) inset;
}
.grabtag-selector.grabtag-tag{
  margin:0px;
  padding:0.15em;
  position:relative;
  cursor:auto;
}
#grabtag-initializer .grabtag-selector:hover{
  box-shadow:0 1px 2px 1px rgba(125, 125, 125, 0.9);
}